<h1>New Task</h1>

<%= render 'form', restaurant: @restaurant %>
<div class="pt-4 border-top mt-4">
  <%= link_to "<div class='btn btn-primary'><i class='fa fa-undo'></i> Go back</div>".html_safe, root_path %>
</div>
